<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <p-floatlabel variant="on">
    <input pInputText id="firstName" formControlName="firstName"/>
    <label for="firstName">First name</label>
  </p-floatlabel>
  @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
    <div class="error">
      <small>First name is required.</small>
    </div>
  }
  <p-floatlabel variant="on">
    <input pInputText id="lastName" formControlName="lastName"/>
    <label for="lastName">Last name</label>
  </p-floatlabel>
    @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
      <div class="error">
        <small>Last name is required.</small>
      </div>
    }
  <p-floatlabel variant="on">
    <input pInputText type="email" id="email" formControlName="email"/>
    <label for="email">Email</label>
  </p-floatlabel>
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <div class="error">
          <small>Email is required.</small>
        </div>
      }
  <p-floatlabel variant="on">
    <p-password formControlName="password" id="password" [toggleMask]="true"></p-password>
    <label for="password">Password</label>
  </p-floatlabel>
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          <div class="error">
            <small>Password is required.</small>
          </div>
        }
  <p-floatlabel variant="on">
    <p-password formControlName="confirmPassword" id="confirmPassword" [toggleMask]="true"></p-password>
    <label for="confirmPassword">Confirm password</label>
  </p-floatlabel>
          @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
            <div class="error">
              <small>Confirm Password is required.</small>
            </div>
          }
  <p>Déjà inscrit ? <span (click)="switchForm()">Connectez-vous</span></p>
  <p-button
    severity="success"
    label="Register"
    type="submit"
    [disabled]="registerForm.invalid || isLoading"
  >
    @if (isLoading) {
      <ng-template pTemplate="icon">
        <i class="pi pi-spin pi-spinner"></i>
      </ng-template>
    }
  </p-button>
  @if (errorMessage){
    <p class="error">{{ errorMessage }}</p>
  }
  @if(isRegistered){
    <p class="success">You are damn registered my brudah !</p>
  }
</form>
