<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <p-floatlabel variant="on">
    <input pInputText id="firstName" formControlName="firstName"/>
    <label for="firstName">First name</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input pInputText id="lastName" formControlName="lastName"/>
    <label for="lastName">Last name</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <input pInputText type="email" id="email" formControlName="email"/>
    <label for="email">Email</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-password formControlName="password" id="password" [toggleMask]="true"></p-password>
    <label for="password">Password</label>
  </p-floatlabel>
  <p-floatlabel variant="on">
    <p-password formControlName="confirmPassword" id="confirmPassword" [toggleMask]="true"></p-password>
    <label for="confirmPassword">Confirm password</label>
  </p-floatlabel>
  <p-button severity="success" label="Register" type="submit"></p-button>
</form>
