:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/colorful-northern-lights-background_52683-23051.jpg?t=st=1743613839~exp=1743617439~hmac=b8d50734495eedcedce4d3ac802d10cc417a8768dc4c97e19e84b177628832e1&w=2000");
  main {
    flex: 1;
  }

  footer {
    margin-top: auto;
  }
}


