
<div class="container singleProductPage">
  <div class="grid">
    <div id="info" class="col-12 lg:col-6">
      <p-card [style]="{ height: '100%' }" class="product-card">
        <ng-template pTemplate="content">
          <h3>{{product.nom}}</h3>
          <p>{{product.description}}</p>
          <p>Prix unitaire : {{product.prix}} €</p>
          <div>
            <p-button label="Modifier" severity="success" icon="pi pi-pencil"
                      class="p-button-warning" (click)="editProduct(product.id)"></p-button>
          </div>
          <div>
            <p-button label="Voir stocks restants" severity="success" icon="pi pi-box"
                      class="p-button-warning" (click)="viewStock(product.id)"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div id="image" class="col-12 lg:col-6">
      <p-card [style]="{ height: '100%' }" class="product-card maxHeight">
          <img class="productSingleImage" [src]="product.imageUrl || 'https://i.pinimg.com/474x/03/a5/14/03a514f0b4332a6c1ebdf970b21b86b0.jpg'" alt="{{ product.nom }}">
      </p-card>
    </div>
  </div>
</div>




