.productSingleImage {
  height: 100%;

}

#info{
  text-align: center;
}

#image{
  text-align: center;
}

.container {
  margin : 2% 5% 2% 5%;
}

.singleProductPage {
  align-items: stretch;
}


.infoProductBox {
  display : flex;
  flex-direction : column;
  column-gap: 5%;

}
