.productSingleImage {
  max-height: 200px;
  margin-top : 4%;

}

.singleProductPage {
  height : 100%;
}

.productSingleImage {

}

.infoProductBox {
  display : flex;
  flex-direction : column;
  column-gap: 5%;

}
