
<div class="container singleProductPage">
  <div class="grid">
    <div class="col-12 lg:col-6">
      <p-card [style]="{ height: '100%' }" class="product-card">
        <ng-template pTemplate="content">
          <h3>{{product.nom}}</h3>
          <p>{{product.description}}</p>
          <p>Prix unitaire : {{product.prix}} €</p>
          <p-button label="Modifier" severity="success" icon="pi pi-pencil"
                    class="p-button-warning" (click)="editProduct(product.id)"></p-button>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 lg:col-6">
      <p-card [style]="{ height: '100%' }" class="product-card maxHeight">
          <img class="productSingleImage" [src]="product.imageUrl || 'https://via.placeholder.com/150'" alt="{{ product.nom }}">
      </p-card>
    </div>
  </div>
</div>




