/* Style du titre */
.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  color: #ffffff;
}

.stock-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #f1f2f6;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustement des styles des UL */
.stock-container ul {
  list-style: none;
  padding: 15px;
  background: #52eda6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive pour tablettes et mobiles */
@media (max-width: 1024px) {
  .stock-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .stock-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stock-container li {
  padding: 5px 0;
  font-size: 16px;
  border-bottom: 1px solid #dfe4ea;
}

.stock-container li:last-child {
  border-bottom: none;
}

.stock-container li strong {
  color: #2f3542;
}

/* Responsive */
@media (max-width: 768px) {
  .stock-container {
    max-width: 90%;
    padding: 15px;
  }
}

/* Conteneur de la recherche et du bouton "Ajouter un stock" */
.mb-3.d-flex {
  display: flex;
  justify-content: center;  /* Centrer les éléments horizontalement */
  gap: 10px;  /* Espacement entre l'input et le bouton */
  align-items: center;  /* Centrer les éléments verticalement */
  margin-bottom: 20px;  /* Espacement sous le bloc */
}

/* Ajustement des champs de recherche */
.mb-3.d-flex input {
  width: 300px; /* Limiter la largeur de l'input */
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* Ajustement du bouton */
.mb-3.d-flex button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #52eda6;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.mb-3.d-flex button:hover {
  background-color: #46d392;  /* Changer la couleur au survol */
}

