<form [formGroup]="productForm" (ngSubmit)="submit()" enctype="multipart/form-data">
  <div>
    <label for="name">Name : </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="description">Description : </label>
    <textarea id="description" formControlName="description" cols="50" rows="10"></textarea>
  </div>
  <div>
    <label for="picture">Picture : </label>
    <input id="picture" type="file" formControlName="picture">
  </div>
  <div>
    <label for="price">Price : </label>
    <input id="price" type="number" formControlName="price">
  </div>
  <button type="submit">Create</button>
</form>
